@use "@/presentation/styles/_colors.scss" as *;

.SearchWrapper {
	display: inline-block;
	position: relative;
	width: 24rem;
	max-width: calc(100% - 4rem);
	margin-left: 1rem;

	.SearchBar {
		position: relative;
		border: 2px solid $White;
		padding: 0.25rem 0.5rem;

		.UserSearchWrapper {
			position: relative;
			width: 60%;
		}

		.SearchIcon {
			font-size: 1rem;
			color: $White;
		}

		.CloseIcon {
			position: absolute;
			right: 0.5rem;
			padding: 0.15rem;
			background-color: transparent;
			border: none;
			cursor: pointer;
		}
	}
}

#SearchInput {
	background: transparent;
	border: none;
	font-size: 1rem;
	width: calc(100% - 2rem);
	margin-left: 0.5rem;
	color: $White;

	&::placeholder {
		color: $White;
		opacity: 0.7;
	}
}