.SearchWrapper {
	display: inline-block;
	position: relative;
	width: 20rem;
	margin-left: 1rem;

	.SearchBar {
		position: relative;
		border: 1px solid #000;
		border-radius: 1rem;
		padding: 0.25rem 0.5rem;

		.UserSearchWrapper {
			position: relative;
			width: 60%;
		}

		.SearchIcon {
			font-size: 1rem;
		}

		.CloseIcon {
			position: absolute;
			right: 0.5rem;
			padding: 0.15rem;
		}

		.SearchInput {
			background: transparent;
			border: none;
			outline: none;
			font-size: 1rem;
			width: calc(100% - 2rem);
			margin-left: 0.5rem;
		}
	}
}