@use "@/presentation/styles/_colors.scss" as *;
@use "@/presentation/styles/_z-index.scss" as *;

.PageWrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#MainContent {
	flex: 1;
}

:focus {
	outline: none;
}

// Ensure that outlines are visible when tabbing through elements, but not when using the mouse.
.OptimizedForKeyboardNavigation :focus {
	outline: auto;
}

@media (min-width: 768px) {
	.PageWrapper {
		min-height: 100vh;
	}
}