@use "@/presentation/styles/_colors.scss" as *;
@use "@/presentation/styles/_z-index.scss" as *;

.PageWrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#MainContent {
	flex: 1;
}

@media (min-width: 768px) {
	.PageWrapper {
		min-height: 100vh;
	}
}