.DropdownContainer {
	position: absolute;
	left: 0;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.95);
	border: 1px solid #000;
	border-radius: 1rem;
	padding: 0.5rem;
	width: 100%;
	margin-top: 0.75rem;
}

.NotFoundContainer {
	text-align: center;
}