@use "@/presentation/styles/_colors.scss" as *;
@use "@/presentation/styles/_z-index.scss" as *;

.DropdownContainer {
	position: absolute;
	left: 0;
	z-index: $ThirdFloor;
	background-color: rgba($BrandTeal, 0.9);
	padding: 0.5rem;
	width: 100%;
	margin-top: 1.5rem;
}

.SearchFailedMessage,
.NotFoundContainer {
	text-align: left;
	margin: 0;
	padding: 0.25rem;
}