@use "@/presentation/styles/_colors.scss" as *;

.LoadingFailureNotification {
	width: 20rem;
	margin: 0 auto;
	text-align: center;
	margin-top: 5rem;
	color: $White;
}

.LoadingFailureIcon {
	font-size: 100px;
	color: $BrandAmber;
}