@use "@/presentation/styles/_colors.scss" as *;
@use "@/presentation/styles/_z-index.scss" as *;

.GenreTitle {
	display: inline-block;
	background-color: $BrandAmber;
	font-weight: bold;
	min-width: 30rem;
	min-height: 4rem;
	padding: 0.75rem 5rem;
	font-size: 1.5rem;
	margin: 2.5rem 0 1.5rem 6rem;
}

.GenreCardsControlsWrapper {
	position: relative;
}

.GenreCardsContentWrapper {
	white-space: nowrap;
	overflow-x: scroll;
	padding: 0 3rem;
	display: flex;
	
	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		width: 10rem;
		pointer-events: none;
		z-index: $FirstFloor;
	}

	&::before {
		left: 0;
		background: linear-gradient(
			to right,
			rgba($BrandBlack, 1),
			rgba($BrandBlack, 0)
		);
	}

	&::after {
		right: 0;
		background: linear-gradient(
			to left,
			rgba($BrandBlack, 1),
			rgba($BrandBlack, 0)
		);
	}

	overflow-x: auto;
	overflow-y: hidden;

	/* Firefox */
	scrollbar-width: none;

	/* IE / old Edge */
	-ms-overflow-style: none;

	/* Chrome, Safari, Edge (Chromium) */
	&::-webkit-scrollbar {
		display: none;
	}
}

.GenreShowcaseNavButton {
	position: absolute;
	z-index: $SecondFloor;
	top: 11rem;
	background: transparent;
	border: none;
	outline: none;
	font-size: 3rem;
	color: $BrandAmber;
	cursor: pointer;

	&.ButtonLeft {
		left: 0.5rem;
	}

	&.ButtonRight {
		right: 0.5rem;
	}
}

/* Tablet styles */
@media (min-width: 768px) {
	.GenreCardsContentWrapper {
		max-width: 100vw;
	}
}

/* Desktop */
@media (min-width: 1024px) {
	.ShowCard {

		.ShowCardImageWrapper {
			height: 370px;
		}

		.ShowCardTitle,
		.ShowCardRating {
			position: static;
			display: block;
		}
	}
}

/* Large screens */
@media (min-width: 1280px) {

}