@mixin ShimmerAnimation() {
	& {
		background-size: 200% 100% !important;
		background: linear-gradient(to right, rgba(238, 238, 238, 0.4) 8%, rgba(187, 187, 187, 0.4) 18%, rgba(238, 238, 238, 0.4) 33%);
		position: relative;
		animation-duration: 1s;
		animation-delay: 1s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		animation-name: PlaceholderShimmer;
	}
}

@keyframes PlaceholderShimmer {
	0% {
		background-position: 100% 0;
	}

	50% {
		background-position: -100% 0;
	}

	100% {
		background-position: -100% 0;
	}
}