@mixin ShimmerAnimation() {
	& {
		background-size: 200% 100% !important;
		background: linear-gradient(to right, #eee 8%, #bbb 18%, #eee 33%);
		position: relative;
		animation-duration: 1s;
		animation-delay: 1s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		animation-name: PlaceholderShimmer;
	}
}

@keyframes PlaceholderShimmer {
	0% {
		background-position: 100% 0;
	}

	50% {
		background-position: -100% 0;
	}

	100% {
		background-position: -100% 0;
	}
}