@use "@/presentation/styles/_colors.scss" as *;

html, body {
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: $BrandBlack;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.LayoutBlock {
	max-width: 100%;
	overflow: hidden;
}

.RoundedBlock {
	border-top-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.Hidden {
	display: none;
}