@use "@/presentation/styles/_animations.scss" as *;

.LoadingWrapper {

	.LoadingContent {
		overflow: hidden;
		display: inline-block;
		height: 1.5rem;
		margin-top: 1rem;

		&::before {
			display: block;
			content: '';
			height: 100%;
			width: auto;
			@include ShimmerAnimation();
		}

		&.DropdownItem {
			margin-top: 0;
		}

		&.GenreTitle {
			background: transparent;
			margin-left: 3rem;
		}

		&.ShowCard {
			background: transparent;
			margin-top: 0;
			margin-bottom: 1rem;

			&:hover {
				margin-top: 1rem;
				margin-bottom: 0;
			}
		}

		&.SpotlightImage {
			width: 100%;
			height: 40vh;
		}

		&.SpotlightTitle {
			height: 10vh;
			width: 30rem;
			background: transparent;
		}

		&.SpotlightSummary {
			height: 20vh;
			width: 70vw;
			background: transparent;
		}

		&.SpotlightContentDetails {
			height: 20vh;
			width: 25vw;
			background: transparent;
		}
	}

	& + .GenreCardsControlsWrapper {
		overflow: hidden;
	}

	& + .SpotlightContentWrapper {
		background: transparent;
	}
}