@use "@/presentation/styles/_animations.scss" as *;

.LoadingWrapper {

	.LoadingContent {
		overflow: hidden;
		display: inline-block;
		height: 1.5rem;
		margin-top: 1rem;

		&::before {
			display: block;
			content: '';
			height: 100%;
			width: auto;
			@include ShimmerAnimation();
		}

		&.DropdownItem {
			margin-top: 0;
		}

		&.GenreTitle {
			background: transparent;
			margin-left: 3rem;
		}

		&.ShowCard {
			background: transparent;
			margin-top: 0;
			margin-bottom: 1rem;

			&:hover {
				margin-top: 1rem;
				margin-bottom: 0;
			}
		}

		&.SpotlightImage {
			width: 100%;
			height: 20vh;
		}

		&.SpotlightTitle {
			height: 7vh;
			width: 100%;
			padding: 0;
			margin-bottom: 0;
			background: transparent;
		}

		&.SpotlightSummary {
			height: 20vh;
			width: 100%;
			padding: 0;
			margin-top: 1rem;
			background: transparent;
		}

		&.SpotlightContentDetails {
			height: 20vh;
			width: 100%;
			padding: 0;
			background: transparent;
		}
	}

	& + .GenreCardsControlsWrapper {
		overflow: hidden;
	}

	& + .SpotlightContentWrapper {
		background: transparent;
	}
}

@media (min-width: 768px) {
	
	.LoadingWrapper {

		.LoadingContent {

			&.SpotlightImage {
				height: 40vh;
			}

			&.SpotlightTitle {
				height: 10vh;
				width: 30rem;
				padding: 1rem 3rem;
				margin-bottom: 2rem;
			}

			&.SpotlightSummary {
				width: 60vw;
				padding: 1rem;
				margin-top: 0;
			}

			&.SpotlightContentDetails {
				width: 30vw;
				padding: 1rem;
			}
		}
	}
}

@media (min-width: 1024px) {
	
	.LoadingWrapper {

		.LoadingContent {

			&.SpotlightSummary {
				width: 70vw;
			}

			&.SpotlightContentDetails {
				width: 25vw;
			}
		}
	}
}