@use "./../../styles/_animations.scss" as *;

.LoadingWrapper {

	.LoadingContent {
		overflow: hidden;
		display: inline-block;
		height: 1.5rem;
		margin-top: 1rem;

		&::before {
			display: block;
			content: '';
			height: 100%;
			width: auto;
			@include ShimmerAnimation();
		}

		&.DropdownItem {
			margin-top: 0;
		}
	}

	& + .GenreCardsWrapper {
		overflow: hidden;
	}
}