@use "./../../styles/_animations.scss" as *;

.LoadingWrapper {

	.LoadingContent {
		overflow: hidden;
		display: inline-block;
		height: 1.5rem;
		margin-top: 1rem;

		&::before {
			display: block;
			content: '';
			height: 100%;
			width: auto;
			@include ShimmerAnimation();
		}

		&.DropdownItem {
			margin-top: 0;
		}

		&.SpotlightImage {
			width: 100%;
			height: 15rem;
		}

		&.SpotlightTitle {
			height: 3rem;
			width: 30rem;
		}

		&.SpotlightSummary {
			height: 10rem;
			width: 70vw;
		}

		&.SpotlightContentDetails {
			height: 10rem;
			width: 25vw;
		}
	}

	& + .GenreCardsWrapper {
		overflow: hidden;
	}
}