.ShowCardLink {
	color: inherit;
	text-decoration: none;
}

.ShowCard {
	display: inline-block;
	overflow: hidden;
	width: 13rem;
	min-height: 15rem;
	border-radius: 1rem;
	background-color: #d0d0d0;
	margin-right: 1rem;

	.ShowCardImageWrapper {
		position: relative;
		font-size: 0;

		.ShowCardRating {
			position: absolute;
			font-size: 1rem;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 0.5rem 0.25rem;
			background-color: rgba(255, 255, 255, 0.7);
		}
	}

	.ShowCardContent {
		padding: 0.5rem;
	}

	.ShowCardTitle {
		font-size: 1.2rem;
		margin: 0 0 0.5rem;
	}

	.ShowCardDetailItem {
		display: inline-block;
		font-style: italic;
		margin: 0 0 0.25rem;

		& + .ShowCardDetailItem::before {
			content: '/';
			margin: 0 0.5rem;
		}
	}

	.ShowCardGenres {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.ShowCardSummary {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;  
  		overflow: hidden;
		white-space: normal;

		p {
			display: inline;

			& + p {
				margin-left: 0.25rem;
			}
		}
	}
}