@use "@/presentation/styles/_colors.scss" as *;

.ShowCardLink {
	color: inherit;
	text-decoration: none;

	&:last-of-type .ShowCard {
		margin-right: 0;
	}
}

.ShowCard {
	display: inline-block;
	overflow: hidden;
	width: 13rem;
	min-height: 15rem;
	background-color: $BrandGreyL;
	margin-right: 1rem;
	margin-top: 1rem;
	transition: margin 0.3s ease;

	&:hover {
		margin-top: 0;
		margin-bottom: 1rem;
	}

	.ShowCardImageWrapper {
		position: relative;
		height: 295px;
		font-size: 0;
	}

	.ShowCardTitle,
	.ShowCardRating {
		position: absolute;
		font-size: 1rem;
		font-weight: bold;
		background-color: $BrandTeal;
		color: $White;
		left: 0;
		width: 100%;
		padding: 0.5rem 0.25rem;
	}

	.ShowCardTitle {
		font-size: 1.2rem;
		top: 0;
		margin: 0;
		text-align: center;
	}

	.ShowCardRating {
		bottom: 0;
	}

	.ShowCardRatingIcon {
		color: $BrandAmber;
	}

	.ShowCardRatingScore {
		margin-left: 0.5rem;
	}

	.ShowCardContent {
		padding: 0.5rem;
		position: relative;
		white-space: nowrap;
		
		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			pointer-events: none;
			width: 3rem;
			height: 40%;
			background: linear-gradient(
				to left,
				rgba($BrandGreyL, 1),
				rgba($BrandGreyL, 0)
			);
		}
	}

	.ShowCardDetailItem {
		display: inline-block;
		font-size: 13px;
		font-style: italic;
		margin: 0 0 0.25rem;
		color: $BrandGreyD;

		& + .ShowCardDetailItem::before {
			content: '•';
			margin: 0 0.25rem;
		}
	}

	.ShowCardGenres {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.ShowCardSummary {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;  
  		overflow: hidden;
		white-space: normal;

		p {
			display: inline;

			& + p {
				margin-left: 0.25rem;
			}
		}
	}
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1023px) {

}

/* Desktop */
@media (min-width: 1024px) {
	.ShowCard {

		.ShowCardImageWrapper {
			height: 370px;
		}

		.ShowCardTitle,
		.ShowCardRating {
			position: static;
			display: block;
		}
	}
}

/* Large screens */
@media (min-width: 1280px) {

}