.TopHeader {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 0.8) calc(100% - 1rem),
		rgba(255, 255, 255, 0) 100%
	);
	padding: 0.5rem 0.5rem 1rem;

	.HomeButton {
		vertical-align: middle;
		color: inherit;
		text-decoration: none;
		font-size: 2rem;
	}
}