@use "@/presentation/styles/_colors.scss" as *;
@use "@/presentation/styles/_z-index.scss" as *;

.TopHeader {
	position: sticky;
	top: 0;
	left: 0;
	z-index: $ThirdFloor;
	background-color: $BrandGreen;
	padding: 0.5rem;
	border-bottom: 3px solid $BrandAmber;

	.HomeButton {
		vertical-align: middle;
		color: $White;
		text-decoration: none;
		font-size: 32px;
	}
}