@use "@/presentation/styles/_colors.scss" as *;

.SpotlightWrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 40rem;
	min-height: calc(100vh - 8rem);
}

.SpotlightImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.SpotlightContentWrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2rem;
	width: 100%;

	.SpotlightTitle {
		font-size: 1.5rem;
		margin: 0 0 2rem;
		background-color: $BrandAmber;
		padding: 1rem 3rem;
	}
}

.SpotlightContent {

	.SpotlightSummary {
		width: 100%;
		max-width: 42rem;
		margin: 0;
		padding: 1rem;
		background-color: rgba($White, 0.85);
		align-self: flex-start;

		p:first-of-type {
			margin-top: 0;
		}

		p:last-of-type {
			margin-bottom:0;
		}
	}

	.SpotlightContentDetails {
		width: 100%;
		flex: 0 0 auto;
		margin-top: 1rem;
		padding: 1rem;
		background-color: rgba($White, 0.85);
		align-self: flex-start;

		dt {
			float: left;
			font-weight: bold;
			margin-right: 0.5rem;
		}

		dd {
			margin: 0 0 0.5rem 0;
			display: inline;
		}

		// Clear floats after each pair.
		dt + dd::after {
			content: "";
			display: block;
			clear: both;
		}
	}
}

@media (min-width: 768px) {
	.SpotlightWrapper {
		min-height: calc(100vh - 10rem);
	}

	.SpotlightContentWrapper {

		.SpotlightTitle {
			display: inline-block;
			font-size: 3rem;
		}
	}

	.SpotlightSummary {
		width: unset;
	}

	.SpotlightContent {
		display: flex;
		justify-content: space-between;
		flex: flex-start;

		.SpotlightContentDetails {
			width: unset;
			margin-top: 0;
			margin-left: 2rem;
		}
	}
}