@use "@/presentation/styles/_colors.scss" as *;

.SpotlightWrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 40rem;
	min-height: calc(100vh - 10rem);
}

.SpotlightImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.SpotlightContentWrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2rem;
	width: 100%;

	.SpotlightTitle {
		display: inline-block;
		font-size: 3rem;
		margin: 0 0 2rem;
		background-color: $BrandAmber;
		padding: 1rem 3rem;
	}
}

.SpotlightContent {
	display: flex;
	justify-content: space-between;
	flex: flex-start;

	.SpotlightSummary {
		max-width: 42rem;
		margin: 0;
		padding: 1rem;
		background-color: rgba($White, 0.8);
		align-self: flex-start;

		p:first-of-type {
			margin-top: 0;
		}

		p:last-of-type {
			margin-bottom:0;
		}
	}

	.SpotlightLabel {
		font-weight: bold;
	}

	.SpotlightContentDetails {
		flex: 0 0 auto;
		margin-left: 2rem;
		padding: 1rem;
		background-color: rgba($White, 0.8);
		align-self: flex-start;
	}
}