.SpotlightWrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 40rem;
}

.SpotlightImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.SpotlightContentWrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 2rem;
	width: 100%;

	.SpotlightTitle {
		font-size: 3rem;
		margin: 0 0 1rem;
	}
}

.SpotlightContent {
	display: flex;
	justify-content: space-between;

	.SpotlightSummary {
		max-width: 42rem;
		margin-bottom: 0;

		p:first-of-type {
			margin-top: 0;
		}

		p:last-of-type {
			margin-bottom:0;
		}
	}

	.SpotlightLabel {
		font-weight: bold;
	}

	.SpotlightContentDetails {
		flex: 0 0 auto;
		margin-left: 2rem;
	}
}